.bash_history
.bashrc.win
C:/
.cache/eslint/
.cache/fontconfig/
.config/filezilla/lockfile
.config/filezilla/queue.sqlite3
.config/gtk-2.0/
.DS_Store
.gitconfig
.gitconfig.local
.lib/perl/
.log/bash/
.log/filezilla/
.log/less/
.log/mysql/
.log/tmux/
.netrc
.ssh/
.subversion/
.vimrc.win
.wget-hsts
lib/Vagrant/ssh.config
lib/Vagrant/.vagrant
