.bash_history
.bashrc.win
.DS_Store
.cache
.config/atom/home/
.config/atom/resource/
.config/cagent/
.config/configstore/
.config/composer/
.config/ctags/_.ctags
.config/direnv/
.config/dlv/
.config/docker/
.config/doxygen/
.config/filezilla/
.config/fluentd/
.config/gcloud/
.config/gh/
.config/git/
.config/gnupg/
.config/google/
.config/gradle/
.config/gtk-2.0/
.config/iterm2/
.config/karabiner/
.config/java/
.config/npm/bin/
.config/npm/lib/node_modules/
.config/npm/npmrc
.config/npm/share/
.config/nvm/
.config/redis/redis.conf
.config/subversion/
.config/travisci/
.config/wireshark/
.config/zsh/.iterm2/
.config/zsh/.iterm2_shell_integration.zsh
.config/zsh/.zcompcache
.config/zsh/.zcompdump
.config/zsh/.zshenv
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/zshrc.local
.lib/perl/
.local
.log/api/
.log/bash/
.log/errpath/
.log/filezilla/
.log/fluentd/
.log/httpd/
.log/iterm2/
.log/less/
.log/mysql/
.log/php/
.log/redis/
.log/tmux/
.log/wget/
.ssh/
.sudo_as_admin_successful
.subversion/
C:/
go.mod
go/
lib/UbuntuVagrant/.vagrant
lib/UbuntuVagrant/ssh.config
lib/UbuntuVagrant/ubuntu-xenial-16.04-cloudimg-console.log
lib/Vagrant/.vagrant
lib/Vagrant/ssh.config
