# Git version 1.7.10 over
[include]
    path = ~/.gitconfig.local
[merge]
    ff = false
[core]
    precomposeunicode = true
[color]
    ui = auto
[diff]
    tool = vimdiff
    algorithm = histogram
[branch "master"]
    mergeoptions = --no-edit
