#referer {{{
# http://www.nxmnpg.com/ja/3/readline
# https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html
# https://github.com/yonchu/dotfiles/blob/master/.inputrc
#}}}
#base-variable {{{
set bell-style none
set completion-ignore-case on
set convert-meta off
set editing-mode vi
set expand-tilde on
set input-meta on
set keymap vi-command
set meta-flag on
set output-meta on
set show-all-if-ambiguous on
#}}}
#base-japanese patch {{{
set kanji-code utf-8
#}}}
