##
# http://qiita.com/inuscript/items/86dbfd26abe6905756c0
# https://docs.npmjs.com/misc/config
#
also=development
cache=~/.cache/npm
engine-strict=true
progress=false
save=true
save-dev=true
save-exact=true
