# Regularly update & git NG files.
/backup/*
/bundle/*
/colors/*
/undo/*
/jazzradio.vim/*
/vim-php-cs-fixer/*
/vim-ref/cache/*
/vim-ref/php-chunked-xhtml/*
/neobundle.vim/*
/neocomplete.vim/*
/neosnippet.vim/*
/swap/*
/tags/*
/unite.vim/*
/viminfo/*
/vimshell.vim/cache/*
/yankround.vim/*
.netrwhist

# Memos file manage.
