# Regularly update & git NG files.
/backup/*
/bundle/*
/colors/*
/gundo/*
/jazzradioCache/*
/phpCsFixer/*
/qfixapp/*
/ref/*
/neocomplete/*
/neosnippet/*
/swap/*
/tags/*
/unite/*
/viminfo/*
/vimshellData/*
.netrwhist

# Memos file manage.
